// Defaults
executor="slurm"
account="VR0002"
//walltime="00:05:00"
//memory="1"
walltime="08:00:00"
memory="8"
jobtype="single"
//queue="terri"
queue="main"

// Load modules (separate by space)
modules="bcftools-intel/1.2 vcftools-gcc/0.1.12 tabix-intel/0.2.6"

notifications {
  gmail {
    to="h.dashnow@gmail.com"
    username="bpipe.alert@gmail.com"
    password="bioinformatics"
  }
}
