// Defaults
walltime="08:00:00"
memory="8"
jobtype="single"

// Command-specific configuration
commands {

    local {
        executor="local"
    }

    quick {
        walltime="0:15:00"
        memory="4"
    }

    small {
        walltime="0:45:00"
        memory="4"
    }

    smallish {
        walltime="3:00:00"
        memory="4"
    }

    medium {
        walltime="48:00:00"
        memory="8"
    }

    fastqc {
        walltime="01:30:00"
        memory="4"
    }

    bwamem {
        walltime="24:00:00"
        jobtype="single"
        procs=8
    }
}
